export(
"is.binaryMatrix",
"dichotomize",
"optimizeThreshold",
"chances",
"binda.ranking",
"plot.binda.ranking",
"binda",
"predict.binda"
)
S3method("plot", "binda.ranking")
S3method("predict", "binda")
import("entropy")

import("graphics")
import("stats")
import("utils")

